<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Change Password</title>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<style>
.form-gap {
	padding-top: 70px;
}
</style>
</head>
<body>
	<div class="form-gap"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="text-center">
							<h2 class="text-center">Set a new password</h2>
							<div class="panel-body">

								<form th:action="@{/reset_password}" method="post" id="register-form"
									role="form" autocomplete="off" class="form">
									<input type="hidden" name="token" th:value="${token}">
									<div class="md-form md-outline">
										<input type="password" id="password" name="password" class="form-control" placeholder="New password">
										<label data-error="wrong" data-success="right" for="password"></label>
									</div>
									<div class="md-form md-outline">
										<input type="password" id="newPassConfirm"
											class="form-control" placeholder="Confirm password"> <label data-error="wrong"
											data-success="right" for="newPassConfirm" oninput="checkPassWordMatch(this);"></label>
									</div>

									<button type="submit" class="btn btn-primary mb-4">Change
										password</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function checkPassWordMatch(fieldConfirmPassword) {
			if (fieldConfirmPassword.value != $("#password").val()) {
				fieldConfirmPassword.setCustomValidity("passwords do not match!");
			} else {
				fieldConfirmPassword.setCustomValidity("");
			}
		}
	</script>
</body>
</html>